<div class="row">
    <main class="col-md-12">
        <!-- Start your code here -->
        <h1>About</h1>
        <p>In this page you will find relevant information about the author.</p>
        <h3>Andre Hideo Onoda Monteiro</h3>
        <p>
            <i class="fa fa-id-badge"></i> Student ID: 101947232 |
            <i class="fa fa-envelope"></i> Email: amonteiro3@myseneca.ca
        </p>
        <p>
            I'm a Business Information Technology student at Seneca Polytechnic.
        </p>
        <!-- End your code here  -->
    </main>
</div>
